.nuevoUsuario {
    position: relative;
    margin-top: 3%;
    margin-left: 10%;
    width: 35%;
    height: auto;
    border: 1px solid $grisSuave;
    padding: 2%;
    border-radius: 150px 1px 2px 2px;
    float: left;
    box-shadow: 1px 1px 4px $grisSuave;
}

#registro {
    position: relative;
    font-family: $fuente;
    margin-top: 2%;
}

#registro h1 {
    text-transform: lowercase;
    text-align: right;
    letter-spacing: 5px;
    font-size: 30px;
    color: $rosaFuerte;
}

#registro label {
    width: 280px;
    height: 25px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#registro .error {
 color: $rosaFuerte;
 width: 500px;
 text-transform: initial;
}

#registro input {
    border: 1px solid #780E51;
    border-radius: 5px;
    background-color: #DBDBDB;
    width: 230px !important;
    padding: 1%;
    margin-top: 3%;
    color: black !important;
}

#registro button {
    padding: 2%;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    position: relative;
    left: 70%;
    background: rgba(255,212,239,1);
    background: -moz-linear-gradient(top, rgba(255,212,239,1) 0%, rgba(255,212,239,1) 2%, rgba(242,148,206,1) 24%, rgba(253,137,215,1) 68%, rgba(255,212,239,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,212,239,1)), color-stop(2%, rgba(255,212,239,1)), color-stop(24%, rgba(242,148,206,1)), color-stop(68%, rgba(253,137,215,1)), color-stop(100%, rgba(255,212,239,1)));
    background: -webkit-linear-gradient(top, rgba(255,212,239,1) 0%, rgba(255,212,239,1) 2%, rgba(242,148,206,1) 24%, rgba(253,137,215,1) 68%, rgba(255,212,239,1) 100%);
    background: -o-linear-gradient(top, rgba(255,212,239,1) 0%, rgba(255,212,239,1) 2%, rgba(242,148,206,1) 24%, rgba(253,137,215,1) 68%, rgba(255,212,239,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,212,239,1) 0%, rgba(255,212,239,1) 2%, rgba(242,148,206,1) 24%, rgba(253,137,215,1) 68%, rgba(255,212,239,1) 100%);
    background: linear-gradient(to bottom, rgba(255,212,239,1) 0%, rgba(255,212,239,1) 2%, rgba(242,148,206,1) 24%, rgba(253,137,215,1) 68%, rgba(255,212,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd4ef', endColorstr='#ffd4ef', GradientType=0 );
    border: 1px solid $grisSuave;
    border-radius: 5px;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}

#registro button:hover {
    background: $rosaPalo;
    border: 1px solid $gris;
    border-radius: 5px;
}

.entrarFondo {
    width: 100%;
}

.centrado {
    margin-top: 20%;
}

.centrarBoton {
    margin-bottom: 5%;
}

.lineasFondo {
    position: absolute;
}